#register {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95vh;
  padding: 0 2rem;
  width: fit-content;
}

.container{
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #000;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: fit-content;
}

.logo {
  height: 20vh;
}

.h1{
    font-size: 48px;
}

.stepper{
    background-color: #fff;
}

.login__link{
    text-align: center;
    font-size: 14px;
}

.success__text{
  text-align: center;
  color: green;
}

.form__entrega{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
}